/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

:root{
    --font-primary: "LINE Seed JP", sans-serif; 
    --font-secondary: "Pangolin", sans-serif;
    --text-color: #1E1717;
}

body{
    font-family: var(--font-primary);
}

header, main, footer{
    padding: 1rem;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: pink;
}

header a{
    text-decoration: none;
    color: var(--text-color);
}

main{
    background-color: #fff2dc;
    padding: 900px 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 205px 0px;
}

h1, h2, p{
    font-family: var(--font-primary);
}

h1{
    font-size: 1rem;
}

footer{
    padding: 10px;
    background-color: pink;
}

footer img {
    width: auto;
    height: 50px;
}
nav ul{
    display: flex;
    gap: 1rem;
}

#sticky, #startBtn{
    background: none;
    border: none;
    border-radius: 10px;
}

#sticky img, #startBtn img{
    cursor: pointer;
}

#startBtn img{
    width: auto;
    height: 150px;
}

#mode{
    font-size: 5rem;
    font-weight: bold;
}



#sticky{
    display: flex;
    justify-content: flex-end;
}

footer{
    display: flex;
    justify-content: center;
    gap: 30px;
}