/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* === VARIABLES === */
:root{
    --font-primary: "LINE Seed JP", sans-serif; 
    --font-secondary: "Pangolin", sans-serif;
    
    --text-color: #223027;
    

    /* TESTING COLOR PALLETTE */
    --footer-color: #8DBB8B;
    --main-color: #8DBB8B;
    --header-color: #8DBB8B;
    --yellow: #feca3cd5;
}

/* === BASE === */
body{
    font-family: var(--font-primary);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1, h2, p{
    font-family: var(--font-primary);
}

/* === HEADER === */
header{
    display: flex;
    justify-content: space-between;
    background-color: var(--header-color);
}

header a{
    text-decoration: none;
    color: var(--text-color);
}

header, main, footer{
    padding: 1rem;
}

h1{
    font-size: 1rem;
}

nav ul{
    display: flex;
    gap: 1rem;
}

/* === MAIN === */
main{
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.timerDisplay{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#mode{
    font-size: 3rem;
    font-weight: 200;
    color: var(--text-color);
}

#sticky, #startBtn, #timerBtns button, #closeBtn, textarea{
    background: none;
    border: none;
    border-radius: 10px;
}

#sticky img, #startBtn img, #timerBtns img, #closeBtn{
    cursor: pointer;
}

#startBtn img{
    width: auto;
    height: 150px;
}

/* === TIMER  === */
#timer {
    font-size: 7rem;
    font-weight: 800;
    color: var(--text-color);
}

#timerBtns button{
    padding: 1rem;
    border-radius: ;
}

/* === STICKY NOTE BUTTON === */
#sticky{
    position: absolute;
    bottom: 10rem;
    left: 75rem;
}

.stickyNote {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: var(--yellow);
}

.stickyHeader{
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
}

textarea{
    font-family: var(--font-primary);
    padding: 10px;
    width: 300px;
    height: 150px;
}

textarea:focus{
    outline: none;
}

textarea::placeholder{
    color: var(--text-color);
    opacity: 1;
}

/* === FOOTER === */
footer{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 10px;
    background-color: var(--footer-color);
}

footer img {
    width: auto;
    height: 40px;
}













