/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* === VARIABLES === */
:root{
    --font-primary: "LINE Seed JP", sans-serif; 
    --font-secondary: "Pangolin", sans-serif;
    
    --text-color: #223027;
    

    /* TESTING COLOR PALLETTE */
    --off-white: #F8F0E3;
    --toggle-color:#569f52;
    --main-color: #8DBB8B;
    --yellow: #feca3cd5;
}

/* === BASE === */
body{
    background-color: var(--main-color);
    font-family: var(--font-primary);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1, h2, p{
    font-family: var(--font-primary);
}

/* === HEADER === */
header{
    display: flex;
    justify-content: space-between;
    background-color: var(--header-color);
}

header a{
    text-decoration: none;
    color: var(--text-color);
}

header, main, footer{
    padding: 1rem;
}

h1{
    font-size: 1rem;
}

nav ul{
    display: flex;
    gap: 1rem;
}

/* === MAIN === */
main{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.timerDisplay{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#mode{
    font-size: 5rem;
    font-weight: bold;
    color: var(--text-color);
    transition: font-size 1s cubic-bezier(1, 0, 0, 1.01), font-weight 2s ease;
}
/* START BUTTON TRANSITION */
#mode.shrink{
    font-size: 3rem;
    font-weight: 200;
    opacity: 75%;
}

#sticky, #startBtn, #timerBtns button, .closeBtn, textarea{
    background: none;
    border: none;
    border-radius: 10px;
}

#sticky img, #startBtn img, #timerBtns img, .closeBtn{
    cursor: pointer;
}

#startBtn img{
    width: auto;
    height: 150px;
}

#sessionCounter{
    font-size: 1rem;
    color: var(--text-color);
    margin-top: 10px;
    opacity: 75%;
}


/* === TIMER  === */
#timer{
    font-size: 7rem;
    font-weight: 800;
    color: var(--text-color);
    padding: 20px 10px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

#timerBtns button{
    padding: 1rem;
}

/* === STICKY NOTE BUTTON === */
#sticky{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.stickyNote {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: var(--yellow);
    margin-top: 20px;
}

.stickyHeader{
    font-family: var(--font-primary);
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    font-size: 1.2rem;
    font-weight: 300;
    text-decoration: underline;
    opacity: 80%;
}

.stickyNote[hidden]{
    display: none;
}

#sticky img:hover{
    content: url('images/stickyNoteHover.svg');
}

textarea{
    font-family: var(--font-secondary);
    padding: 10px;
    width: 230px;
    height: 175px;
    font-size: 1.2rem;
    font-weight: 100;
    opacity: 80%;
}

textarea:focus{
    outline: none;
}

textarea::placeholder{
    color: var(--text-color);
    opacity: 50%;
}

/* === FOOTER === */
footer{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 10px;
    background-color: var(--footer-color);
}

footer img {
    width: auto;
    height: 40px;
}

/* === ABOUT === */
.abtContainer {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    text-align: left;   
    gap: 1rem;
    padding: 0px 15rem;
}

.abtContainer h1{
    font-weight: bold;
    font-size: 4rem;
}

.abtSection h2{
    font-weight: bold;
    font-size: 2rem;
    padding: 10px 0px;
}

.abtSection{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 750px;
}

.abtSection p{
    line-height: 20px;
}

/* === SETTINGS WINDOW === */
.settings[hidden] {
    display: none;
}

.settings{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--text-color);
    padding: 10px 40px 20px;
    border-radius: 15px;
    gap: 10px;
    background-color: var(--off-white);
    opacity: 75%;
}

.settings > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.settingsHeader{
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    font-size: 3rem;
    font-weight: bold;
}

.settings label:first-child{
    text-align: left;
    width: 170px;
    font-size: 1.3rem;
}

#closeSettingsBtn{
    position: relative;
    width: 30px;
    height: 30px;
    left: 280px;
    text-decoration: underline;
}

.settings input{
    border-radius: 10px;
    padding: 5px;
}

input#focusTime, input#breakTime {
    font-family: var(--font-secondary);
    font-size: 1.2rem;
    width: 80px;
}

#saveSettings{
    all: unset;
    cursor: pointer;
    border: 2px solid var(--text-color);
    padding: 10px;
    border-radius: 15px;
}

#saveSettings:hover{
    text-decoration: underline;
}


/* === CHECKBOX STYLE === */
.toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #333;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #FFF;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
    /* placeholder */
  background-color: var(--toggle-color); 
}

input:checked + .slider:before {
  transform: translateX(26px);
}







